@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fortune Teller</h1>
    <p class="lead">Welcome to the Fortune Teller App.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Do you wanna your fortune? Click @Html.ActionLink("FortuneTellers","Index","FortuneTellers")
        </p>
    </div>
</div>